$backgroundKey: random(5);

body{
  margin: 0px;
  font-family: Whitney,"Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.groupBar {
  width:5rem;
  height: 100%;
  color:#fff;
}

.mainNav {
  list-style: none;
  padding: 0;
  li:nth-child(1) {
    background-color: rgb(114, 137, 218);
    border-radius: 15px;
    width: 2rem;
    padding: 8px;
    margin: auto;
    margin-bottom: 1rem;
  }
  div:hover {
    // background-color: rgb(114, 137, 218);
    // border-radius: 15px;
    // padding: 0px;
    // border: 1px solid rgb(114, 137, 218);
  }
}

.navigation {
  width:18rem;
  height:100%;
  background-color:#2E3136;
}

.lighter {
  font-weight:100;
  color:#7A868E;
  margin-right:.25rem;
  margin-left: 1.65rem;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #545252;
  font-size: 12px;
  margin-left: 5px;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #545252;
  font-size: 12px;
  margin-left: 5px;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #545252;
  font-size: 12px;
  margin-left: 5px;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #545252;
  font-size: 12px;
  margin-left: 5px;
}

.channelStyle {
  display:"flex";
  width:"100%";
}


.conversation-search {
  margin-top: 14px;
  width: 80%;
  height: 1.3rem;
  color: #fff;
  background-color: #25292d;
  border: solid 1px #212529;
  border-radius: 3px;
  padding: 4px;
  padding-left: 10px;
  outline: none;
}

.group-header {
  height: 1.3rem;
  margin: 0px;
  padding: 5px;
}

.search-container {
   height: 3.5rem;
   width: 100%;
   border-bottom: 2px solid #272a2e;
}

.channelContainer {
  width: 100%;
  height: 100%;
  background-color: #36393E;
}

.remove-decor {
  text-decoration: none;
  font-size: 12px;
  color: #6e757a;
}



.friends {
  height: 2rem;
  display: flex;
  justify-content: flex-start;
  margin-top: 1.2rem;
  padding-left: 20px;
  padding-bottom: 1.2rem;
  li {
    list-style: none;
    display: flex;
    align-items: center;
  }
  li:nth-child(1) {
    background-color: rgb(114, 137, 218);
    width: 2rem;
    border-radius: 50%;
  }
  li:nth-child(2) {
    margin-left: 15px;
    color: white;
  }

}

.svg {
  margin: auto;
}

.direct-messages {
  width: 100%;
  text-align: left;
  color: #6e757a;
  h2 {
    padding-left: 20px;
    font-size: 11px;
    font-weight: bolder;
  }
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 5px;
  }

}

.dm-friends {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: 5px 0px 5px 20px;
  border-left: 2px solid transparent;
}

.dm-friends:hover {
    border-left: 2px solid #3A425A;
    background: linear-gradient(to right, #1E2124, #2E3136);
    color: white;
}

.settingsBar {
  width: 100%;
  height: 3.5rem;
  border-bottom: 2px solid #303337;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #fff;
  justify-content: space-between;
}

.navBarLeft {
  list-style: none;
  display: flex;
  padding: 0px;
  li {
    font-size: 13px;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    padding: 4px 6px 4px 6px;
    border-radius: 3px;
    min-width: 45px;
    text-align: center;
  }
  li:nth-child(1) {
    background-color: #7289da;
    margin-left: 30px;
  }
  li:hover:nth-child(1) {
    background-color: #6276b6;
  }
  li:nth-child(3) {
    color: black;
    background-color: #fff;
    font-weight: normal;
  }
  li:nth-child(n+4) {
    color: #99aab5;
  }
  li:hover:nth-child(n+4) {
    background-color: #25272a;
  }
  .verticalLine {
    border-right: 1px solid #4f575c;
  }
}

.navBarRight {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 10px;
  li {
    margin-right: 8px;
    margin-left: 8px;
    cursor: pointer;
    display: inherit;
    border-radius: 5px;
    padding: 1px;
  }
  li:hover {
    background-color: #25272a;
  }
  .svg path {
    fill: #fff;
  }
  .verticalLine {
    height: 30px;
    border-right: 1px solid #4f575c;
    margin-left: 8px;
    margin-right: 8px;
  }
}

.messageBoard {
  position:relative;
  font-size:.85rem;
  width:100%;
  height:80%;
  overflow-y:scroll;
  color:#A7AEBC;
  h2 {
    font-size: 14px;
    font-weight: normal;
    padding-left: 1.7rem;
    padding-top: 3rem;
  }
}


.chatPost {
  border-bottom: 1px solid #3E4146;
  padding:1rem;
}


.channelChat {
  padding-left:15px;
  display:flex;
  position:fixed;
  bottom:2rem;
  width:70%;
  height:2.5rem;
}

.chat-submit {
  height: 2.6rem;
  width: 2.5rem;
  background: url('../../public/img/submit.svg') no-repeat center;
  background-size: 50%;
  border: 2px solid #686A6E;
  border-right: none;
  cursor: pointer;
}

.chatInput {
  height: 2.5rem;
  width: 92%;
  background-color:#36393E;
  border: 2px solid #686A6E;
  border-left: 1px solid #686A6E;
  color:#A7AEBC;
  outline: none;
  padding-left: 10px;
}


.scroll {
  overflow-y: scroll;
  height: 100%;
}

.friendsList {
  position: relative;
  width: 100%;
  height: 80%;
  color: #76848D;
}


.friendHeader {
  padding-left: 2rem;
  display: flex;
  width: 92%;
  h2 {
    width: 240px;
    font-size: 12px;
    color: #656f77;
  }
  h2:nth-child(1) {
    padding-left: 5px;
    width: 235px;
  }
}


.friendStyle {
  width: 92%;
  display:flex;
  margin-left: 2rem;
  border-radius: 3px;
  h2 {
    font-size: 15px;
    width: 240px;
    display: flex;
    align-items: center;
  }
  h2:nth-child(1) {
    color: #B1B3A4;
  }
  h2:nth-child(n+2) {
    font-weight: normal;
  }

  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 5px;
  }

}

.flex-all-mid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.friendStyle:hover {
  background-color: #414449;
}


.border {
  border-bottom: 1px solid #4e4f52;
}

.border-long {
  border-bottom: 1px solid #4e4f52;
  width: 92%;
  margin-left: 2rem;
}

.flex-img {
  margin: auto;
  display: flex;
}

.flex-vert-cent {
  display: flex;
  align-items: center;
}

.flex-horz-cent {
  display: flex;
  justify-content: center;
}


.flex {
  display: flex;
}

.flex-between {
  display:flex;
  justify-content: space-between;
}

.float-r {
  float: right;
}

.max-w {
  width: 100%;
}

.avatar {
  width: 90%;
  margin: auto;
  a {
    cursor: default;
  }
  img {
  cursor: pointer;
  width: 45px;
  height: 45px;
  margin: 7.5px;
  border-radius: 50%;
  // padding: 0px 5px 5px 5px;
  transition: all 0.4s cubic-bezier(0.69, -1.89, 0.31, 2.81);

  }
  img:hover {
    border-radius: 15px;
  }
}

.left-small-pad {
  padding-left: 20px;
}

.add-channel {
  cursor: pointer;
  padding-right: 10px;
  color: #7A868E;
  font-size: 11px;
  span {
    font-size: 16px;
  }
}

.channel {
  margin-top: 10px;
  font-size: 14px;
  h3:hover {
    color: #FFF;
  }
}

.landing-container {
  width: 100vw;
  height: 100vh;
  background: url('../../public/img/landing'+$backgroundKey+'.jpg') center center;
  background-size: cover;
}

.login-container {
  width: 628px;
  height: 422px;
}

.login-logo {
  padding: 30px;
  background-color: rgba(217, 222, 227, .95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 3px 0px 0px 3px;
  img {
    width: 148px;
    margin-left: 10px;
    margin-right: 10px;
  }
  img:nth-child(1) {
    margin-bottom: 25px;
  }
  img:nth-child(2) {
    margin-bottom: 15px;
  }
}

.login-auth {
  background-color: rgba(40, 43, 48, .75);
  padding: 30px;
  width: 100%;
  border-radius: 0px 3px 3px 0px;
  h3 {
    font-size: 17px;
    font-weight: 700;
  }
  button {
    background-color: #7595ff;
    border-color:  #7595ff;
    border-style: solid;
    border-radius: 3px;
    color: #FFF;
    width: 100%;
    padding: 17px 0px 17px 0px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 90px;
  }
  button:hover {
    background-color: #6784e7;
    border-color:  #6784e7;
  }
  label {
    font-size: 11px;
    color: #87909c;
    font-weight: bolder;
  }
  input {
    margin-bottom: 15px;
    background: none;
    border: 0;
    border-bottom: 1px solid #5e6166;
    height: 40px;
    outline-style: none;
    color: white;
    font-size: 15px;
  }
  input:focus {
    border-bottom: 2px solid #FFF;
  }
}

.h-line {
  border-bottom: 3px solid #9f9b9c;
  width: 27px;
}

.margin-bottom {
  margin: 0px 0px 25px 0px;
}

.exit {
  position: absolute;
  bottom: 10px;
  left: 17px
}
