body{
  margin: 0px;
  font-family: Whitney,"Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.groupBar {
  width:5rem;
  height: 100%;
  color:#fff;
  text-align: center;
}

.mainNav {
  list-style: none;
  padding: 0;
  li:nth-child(1) {
    background-color: rgb(114, 137, 218);
    border-radius: 15px;
    width: 2rem;
    padding: 8px;
    margin: auto;
    margin-bottom: 1rem;
  }
}

.navigation {
  text-align:center;
  width:18rem;
  height:100%;
  background-color:#2E3136;
}

.lighter {
  font-weight:100;
  color:#7A868E;
  margin-right:.25rem;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #545252;
  font-size: 12px;
  margin-left: 5px;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #545252;
  font-size: 12px;
  margin-left: 5px;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #545252;
  font-size: 12px;
  margin-left: 5px;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #545252;
  font-size: 12px;
  margin-left: 5px;
}

.conversation-search {
  margin-top: 14px;
  width: 80%;
  height: 1.3rem;
  color: #fff;
  background-color: #25292d;
  border: solid 1px #212529;
  border-radius: 3px;
  padding: 4px;
  padding-left: 10px;
  outline: none;
}

.search-container {
   height: 3.5rem;
   width: 100%;
   border-bottom: 2px solid #272a2e;
}

.channelContainer {
  width: 100%;
  height: 100%;
  background-color: #36393E;
}

.remove-decor {
  text-decoration: none;
  font-size: 12px;
  color: #6e757a;
}


.friends {
  height: 2rem;
  display: flex;
  justify-content: flex-start;
  margin-top: 1.2rem;
  padding-left: 20px;
  padding-bottom: 1.2rem;
  li {
    list-style: none;
    display: flex;
    align-items: center;
  }
  li:nth-child(1) {
    background-color: rgb(114, 137, 218);
    width: 2rem;
    border-radius: 50%;
  }
  li:nth-child(2) {
    margin-left: 15px;
    color: white;
  }

}

.svg {
  margin: auto;
}

.direct-messages {
  width: 100%;
  text-align: left;
  color: #6e757a;
  h2 {
    padding-left: 20px;
    font-size: 11px;
    font-weight: bolder;
  }
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 5px;
  }

}

.dm-friends {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: 5px 0px 5px 20px;
}

.dm-friends:hover {
    border-left: 2px solid #3A425A;
    background: linear-gradient(to right, #1E2124, #2E3136);
}

.settingsBar {
  width: 100%;
  height: 3.5rem;
  border-bottom: 2px solid #303337;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #fff;
  justify-content: space-between;
}

.navBarLeft {
  list-style: none;
  display: flex;
  padding: 0px;
  li {
    font-size: 13px;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    padding: 4px 6px 4px 6px;
    border-radius: 3px;
    min-width: 45px;
    text-align: center;
  }
  li:nth-child(1) {
    background-color: #7289da;
    margin-left: 30px;
  }
  li:hover:nth-child(1) {
    background-color: #6276b6;
  }
  li:nth-child(3) {
    color: black;
    background-color: #fff;
    font-weight: normal;
  }
  li:nth-child(n+4) {
    color: #99aab5;
  }
  li:hover:nth-child(n+4) {
    background-color: #25272a;
  }
  .verticalLine {
    border-right: 1px solid #4f575c;
  }
}

.navBarRight {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: 10px;
  li {
    margin-right: 8px;
    margin-left: 8px;
    cursor: pointer;
    display: inherit;
    border-radius: 5px;
    padding: 1px;
  }
  li:hover {
    background-color: #25272a;
  }
  .svg path {
    fill: #fff;
  }
  .verticalLine {
    height: 30px;
    border-right: 1px solid #4f575c;
    margin-left: 8px;
    margin-right: 8px;
  }
}

.messageBoard {
  position:relative;
  font-size:.85rem;
  width:100%;
  height:80%;
  overflow-y:scroll;
  color:#A7AEBC;
  h2 {
    font-size: 14px;
    font-weight: normal;
    padding-left: 1.7rem;
    padding-top: 3rem;
  }
}


.chatPost {
  border-bottom: 1px solid #3E4146;
  padding:1rem;
}


.channelChat {
  padding-left:15px;
  display:flex;
  background-color:#424549;
  position:fixed;
  bottom:2rem;
  width:70%;
  height:2.5rem;
}


.chatInput {
  height: 100%;
  width:95%;
  margin:auto;
  background-color:#424549;
  border:1px solid #686A6E;
  color:#A7AEBC;
}


.scroll {
  overflow-y: scroll;
  height: 100%;
}

.friendsList {
  position: relative;
  width: 100%;
  height: 80%;
  color: #76848D;
}


.friendHeader {
  padding-left: 2rem;
  display: flex;
  width: 92%;
  h2 {
    width: 240px;
    font-size: 12px;
    color: #656f77;
  }
  h2:nth-child(1) {
    padding-left: 5px;
    width: 235px;
  }
}


.friendStyle {
  width: 92%;
  display:flex;
  margin-left: 2rem;
  border-radius: 3px;
  h2 {
    font-size: 15px;
    width: 240px;
    display: flex;
    align-items: center;
  }
  h2:nth-child(1) {
    color: #B1B3A4;
  }
  h2:nth-child(n+2) {
    font-weight: normal;
  }

  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 5px;
  }

}

.friendStyle:hover {
  background-color: #414449;
}


.border {
  border-bottom: 1px solid #4e4f52;
}

.border-long {
  border-bottom: 1px solid #4e4f52;
  width: 92%;
  margin-left: 2rem;
}
